<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="ProDataStack" value="https://nuget.pkg.github.com/ProDataStack/index.json" protocolVersion="3" />
        <add key="local-dev" value="C:\Code\_ProDataStack\ProDataStack.CDP.DataModel\nupkg" />
    </packageSources>
</configuration>
